.footerContent {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  bottom: 10px;
  p {
    list-style: none;
    font-family: $fontBase;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: $black;
    text-transform: capitalize;
  }
}

