.createPoll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    form {
        background: $white;
        border-radius: 5px;
        padding: 25px;
        input {
            height: 40px;
            margin: 20px auto;
        }
    }
}