.createPoll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: $white;
    border: 1px solid $primaryColour;
    border-radius: 20px;
    padding: 10px;
    h2 {
        font-size: 2rem;
        color: $primaryColour;
        font-family: $fontBase;
        text-transform: uppercase;
    form {
        background: $white;
        border-radius: 5px;
        padding: 35px;
    }
    }
}
input {
    height: 40px;
    border: 1px solid $primaryColour;
    font-family: $fontBase;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
}

.addPollButton {
    cursor: pointer;
    background: $primaryColour;
    color: $white;
    font-family: $fontBase;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 40%;
    transition: ease all .3s;
    &:hover, &:focus {
        background: $accentColour;
    }
}
// this needs to be cleaned up still
.createPollButton {
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
    margin-left: 150px;
    background: transparent;
    color: $accentColour;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 3px solid $accentColour;
    cursor: pointer;
    line-height: 0;
    
}