.flexDashboardParent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dashboard {
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    padding-bottom: 200px;
    position: relative;
}

// img {
//     width: 100%;
// }

// .imageFromApi {
//     width: 400px;
//     height: 300px;
// }