/* 
---------------------- 
@media Styles 
---------------------- 
*/
@media (max-width: 940px) {
  .welcomeSplash {
    width: 50%;
  }
}

@media (max-width: 784px) {
  .welcomeSplash {
    width: 60%;
  }
  .pollsList {
    margin-top: 80px;
    grid-auto-rows: 200px;
    .pollItem {
      button {
        padding: 20px 10px;
      }
    }
  }
  .sideBar.mobileHidden {
    display: none;
  }
  .sideBar {
    width: 230px;
    padding-top: 50px;
    transition: width .5s ease;
  }

  .hamburger {
    display: block;
    z-index: 999; //woo!
  }
  .createPollButton {
    display: none;
  }
  .createPollMobile {
    display: block;
    z-index: 10;
  }
  .dashboard {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .welcomeSplash {
    width: 80%;
  }
  .dashboard {
    width: 100%;
  }
}
