/* 
---------------------- 
@media Styles 
---------------------- 
*/
@media (max-width: 1180px) {
  .welcomeSplash {
    width: 40%;
  }
}
@media (max-width: 940px) {
  .welcomeSplash {
    width: 50%;
  }
  .sideBar {
    width: 25%;
  }
}

@media (max-width: 784px) {
  .welcomeSplash {
    width: 60%;
  }

  .dashboard {
    margin: 0 auto;
    width: 100%;
  }
  // how the polls on the dashboard appear
  .pollsList {
    margin-top: 80px;
    .pollItem {
      button {
        padding: 20px 10px;
      }
    }
  }
  // styles for hamburger menu toggle and the create poll button on smaller devices
  .sideBar.mobileHidden {
    margin-left: -240px;
  }

  .sideBar {
    width: 230px;
    padding-top: 50px;
    margin-left: 0;
    transition: all 0.7s ease;
  }

  .hamburger {
    display: block;
    z-index: 999; //woo!
  }

  .createPollButton {
    display: none;
  }

  .createPollMobile {
    display: block;
    z-index: 10;
  }
  // dream team image resize!
  .dreamTeamImage {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .welcomeSplash {
    width: 80%;
  }
  .dashboard {
    width: 100%;
  }
  // dream team page resize
  .dreamTeamFlexChild {
    flex-direction: column;
  }
  .dreamTeamList {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .welcomeSplash {
    margin: 75px auto 0 auto;
  }
}
