/* 
---------------------- 
@media Styles 
---------------------- 
*/
@media (max-width: 940px) {
    .welcomeSplash {
        width: 50%;
    }
}

@media (max-width: 784px) {
    .welcomeSplash {
        width: 60%;
    }
    .pollsList {
        grid-auto-rows: 255px;
        button {
            padding: 25px 10px;
        }
    }
}

@media (max-width: 420px) {
    .welcomeSplash {
        width: 80%;
    }

}