.pollsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
  height: auto;
  .pollItem {
    border: 2px solid $accentColour;
    box-shadow: 2px 2px 4px $bgColour;
    list-style-type: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: $white;
    font-family: $fontBase;
    font-weight: 700;
    .pollQuestion {
      font-size: 1.8rem;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 40px 10px;
    }
    p {
      color: $primaryColour;
      text-align: center;
      font-size: 2rem;

      &:first-letter {
        text-transform: capitalize;
      }
    }
    button {
      height: 100%;
      padding: 15px 5px 10px 5px;
      font-family: $fontBase;
      font-weight: 700;
      font-size: 1.8rem;
      border-top: 2px solid $accentColour;
      border-left: 1px solid $accentColour;
      border-right: 1px solid $accentColour;
      width: 50%;
      justify-self: flex-end;
      text-transform: uppercase;
      background: none;
      color: $primaryColour;
      outline: none;
      line-height: 1;
      cursor: pointer;

      p {
        opacity: 0;
        padding: 15px 0 10px 0;
        font-size: 1.6rem;
        color: darkgrey;
        line-height: 0;
      }
      .showVotes {
        opacity: 1;
        transition: ease all 0.5s;
      }
      &:nth-child(1) {
        border-bottom-left-radius: 15px;
        border-left: none;
        border-bottom: none;
      }
      &:nth-child(2) {
        border-bottom-right-radius: 15px;
        border-right: none;
        border-bottom: none;
      }
      &:hover {
        background-color: #fffbe4; //fix to be a lightened variable
        color: $accentColour;
        transition: ease all 0.15s;
      }

      &:active {
        background-color: $primaryColour;
        color: $accentColour;
        .showVotes {
          color: $white;
          transition: none;
        }
      }
    }
  }
}
.viewPollsList {
  @extend .pollsList;
  margin-top: 50px;
}
