.sideBar {
  font-family: $fontHeader;
  background-color: $bgColour;
  width: 20%; // set width to 20% to try to flex these two sections next to each other (sidebar and dash)
  height: 100vh;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  font-size: 1.5rem;
  @include smallDesktop {
    width: 25%;
  }
  // @include tablet {
  //   display: none;
  // }

  .sideBarLinks {
    color: $white;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 20px 20px;
  }
}
