@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700|Montserrat:400,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: #c8e7ff;
  font-size: 1.6rem;
}

ul, li, h1, h2, h3, p {
  margin: 0;
}

.welcomeSplash {
  width: 100%;
  height: 50vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcomeSplash h1 {
  text-align: center;
  color: #ffd731;
}

.userLoginHome {
  text-align: center;
  color: #ffd731;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guestLoginButton {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  margin: 10px 0;
  font-weight: bold;
  background: #50b4ff;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.guestLoginButton:hover, .guestLoginButton:focus {
  background: #ff8b00;
}

.logo {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.createPoll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.createPoll form {
  background: #fff;
  border-radius: 5px;
  padding: 25px;
}

.createPoll form input {
  height: 40px;
  margin: 20px auto;
}

.footerContent {
  padding: 10px 0;
}

.footerContent p,
.footerContent a {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

.footerContent p a,
.footerContent a a {
  color: #1a1a1a;
  padding: 10px 3px;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.footerContent p a:hover, .footerContent p a:focus,
.footerContent a a:hover,
.footerContent a a:focus {
  text-shadow: -5px 0px 5px #ffd731, 5px 0px 5px #ffd731, 6px 0px 6px #ffd731, -6px 0px 6px #ffd731;
}

.sideBar {
  font-family: "Montserrat", sans-serif;
  background-color: #50b4ff;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding-top: 100px;
  font-size: 1.5rem;
}

.sideBar .sideBarLinks {
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 20px 20px;
}

.pollsList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
  grid-auto-rows: 155px;
}

.pollsList .pollItem {
  border: 1px solid #ff8b00;
  list-style-type: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

.pollsList .pollItem .pollQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pollsList .pollItem p {
  color: #ff8b00;
}

.pollsList .pollItem p:first-letter {
  text-transform: capitalize;
}

.pollsList .pollItem .voteButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pollsList .pollItem button {
  padding: 10px 0;
  height: auto;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  border: 1px solid #ff8b00;
  width: 50%;
  justify-self: flex-end;
  text-transform: uppercase;
  background: none;
  color: #ff8b00;
  outline: none;
  cursor: pointer;
}

.pollsList .pollItem button p {
  display: none;
}

.pollsList .pollItem button .showVotes {
  display: block;
}

.pollsList .pollItem button:nth-child(1) {
  border-bottom-left-radius: 20px;
  border-left: none;
  border-bottom: none;
}

.pollsList .pollItem button:nth-child(2) {
  border-bottom-right-radius: 20px;
  border-right: none;
  border-bottom: none;
}
/*# sourceMappingURL=App.css.map */